li {
  word-break: break-word;
  list-style: none;
  margin: 10px;
  margin-top: 20px;
  text-align: center;

  img {
    width: 150px;
    height: 200px;
    object-fit: contain;
    padding: 20px;
  }

  p {
    text-align: center;
  }
}

li:hover {
  background-color: #d4d4d4;
}

a {
  text-decoration: none;
  color: #363636;
}
