body {
  background-color: rgb(249, 249, 249);
  font-family: 'Ubuntu', sans-serif;

  header {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 100vw;
    background-color: white;
  }
}
