.screen-header {
  display: flex;
  padding: 20px;

  .direction-buttons {
    flex: 1;

    button {
      border: none;
      padding: 10px;
      background-color: white;
    }

    i {
      font-size: large !important;
      color: gray;
    }
  }

  .screenname-section {
    flex: 1;
    margin-right: 50px;

    .screen-name {
      padding-top: 10px;
      margin: 0;
      font-size: large;
      position: absolute;
      left: 40vw;
    }
  }
}

.screen-section {
  display: flex;
  justify-content: center;

  img {
    margin-top: 20px;
    width: 80vw;
    height: 80vh;
    object-fit: contain;
  }
}

@media (max-width: 414px) {
  .screen-header {
    padding-left: 10px;
    .direction-buttons {
      button {
        padding: 5px;
      }

      i {
        font-size: larger !important;
      }
    }

    .screenname-section {
      // margin-right: 20vw;
      .screen-name {
        padding-top: 3px;
      }
    }
  }
}
