.document-header {
  h1 {
    margin: 0;
    font-size: larger;
    padding: 15px 0 0 15px;
  }

  p {
    padding: 0 0 15px 15px;
  }
}

.document-section {
  overflow: scroll;
  height: 100vh;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  @media (max-width: 414px) {
    ul {
      display: block;
    }
  }
}
